
$NavColor:transparent;//baclground della navbar

$navLinkHover:#c071ee !important;//Colore hover dei link della navbar


$formBorder:solid 2px rgba(128, 0, 128, 0.5) !important;//bordo dei form
$buttonBC:purple !important;//backgroun color dei button e header della modal
$borderBut:solid 1px purple !important;//bordo dei button
$buttonHover:rgb(192, 13, 192) !important;//colore di background sull hover dei buttun
$buttonCol:black !important;//colore del testo su hover dei button
$formBG:rgba(3, 3, 3, 0.9) !important;//background color dei form

$inputBc:rgba(26, 22, 22, 0.9);//colori degli input